#calendar {
	padding: 100px 0;
}

#calendar h4 {
	margin: 5px 0;
}

#calendar .calendar-img {
	width: 240px;
}

#calendar .thumbnail {
	background: transparent;
	border: 0;
}

#calendar .thumbnail .caption {
	color: #888;
	padding: 10px 0 0 0;
}