#links {
	padding: 100px 0;
	background: #f6f6f6;
}
#links i {
	color: #e6e6e6;
	font-size: 32px;
	margin-bottom: 20px;
}
.link {
	padding: 20px;
}
.link-image {
	float: left;
	margin-right: 15px;
}
.link-image, .link-image img {
	width: 120px;
	border-radius: 50%;
}
.link-content {
	position: relative;
	overflow: hidden;
}
.link-content p {
	margin-bottom: 0;
	font-size: 14px;
	font-style: italic;
}
.link-meta {
	margin-top: 10px;
	font-size: 15px;
	font-weight: 600;
	color: #666;
}